@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');

mat-toolbar{
  background: #fff;
  color: #0F172A;
}

mat-sidenav{
  margin: 0px;
  width: 300px;
  border-right: none;
  background: #0F172A;
  color: white;
  border-radius: 0px;
  padding: 16px;
  text-align: center;
  button{
    font-family: 'Barlow', sans-serif;
  }

}

.content {
  height: calc(100vh - 100px);
  // border-radius: 10px;
  // margin: 16px;
  // margin-left: 32px;

  // display: flex;
  // justify-content: center;
  // align-items: center;

  // font-size: 2rem;
  color: lightgray;
}


.toolbar-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  width: 200px;
  height: 100%;
  padding: 5px;
  clip-path: polygon(0% 0%,90% 0%,100% 100%,0% 100%);
  .logo-app{
    width: auto;
    max-width: 90%;
    max-height: 90%;
    margin-right: 20px;
  }
}

mat-sidenav-container {
  height: calc(100vh);
  // height: calc(100vh - 65px);
}


.menu-button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 1rem;

  mat-icon {
      margin-right: 8px;
  }
}

.avatar {
  margin-top: 16px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.name {
    margin-top: 8px;
    font-weight: normal;
    margin-bottom: 2px;
}

.designation {
    margin-top: 2px;
    font-size: 0.7rem;
    color: lightgrey;
}

mat-divider {
    margin-top: 16px;
    margin-bottom: 16px;
    background-color: rgba(255, 255, 255, 0.5);
}

.close-nav{
  position: absolute;
  /* float: right; */
  display: flex;
  line-height: 2.5;
  right: 13px;
  justify-content: center;
}

.session-user {
  display: flex;
  position: absolute;
  right: 0;
}

